*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.gz
*.toc
*.jpg
*.png
*.idx
*.ilg
*.ind
*.dvi
*.swp
*.jpeg
*.otf
*.docx
*.xlsx
*.zip
*.gif
*.skim
*.ist
*.DS_Store
*.snm
*.nav
*.glg
*.glo
*.gls
*.glsdefs
MCAT/ChemFig/UsefulTips
*.dropbox
MCAT/ForMeesh/Icon\r
*.un~
